body   {

    margin: 0;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    height: 100vh;

    background-color: #000;

    color: #fff;

    font-family: Arial, sans-serif;

}

h1 {

    margin-bottom: 20px;

    font-size: 2em;
}

.caixa {

    position: relative;

    width: 700px;

    height: 500px;

    transform-style: preserve-3d;

    animation: girar 20s infinite linear;

    transform: rotateY(0deg);

}

.caixa span {

    position: absolute;

    width: 240px;

    height: 240px;

    background: #fff;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    top: 50%;

    left: 50%;

    transform-origin: center center;

    transform: translate(-50%, -50%) rotateY(calc(var(--i) * 30deg)) translateZ(500px);

    transition: transform 2s;

    margin: 0;

    box-sizing: border-box;

    padding: 10px;

}

.caixa span p{

    font-size: 24px;

    color: #333;

    text-align: center;

    margin-top: 10px;

}

.caixa span img {

    max-width: 100%;

    max-height: 100%;

    cursor: pointer;

    padding: 10px;
}

@keyframes girar {

    from {

        transform: rotateY(0deg);
    }

    to {

        transform: rotateY(360deg);
    }
}