body, html{

    margin: 0;

    padding: 0;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #f0f0f0;

    font-family: 'Arial', sans-serif;

}

.imagem-container {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    text-align: center;

    background-color: white;

    border-radius: 8px;

    padding: 20px;

    width: 80%;

    max-width: 900px;

    margin: auto;

}

img{

    max-width: 100%;

    height: auto;

    border-radius: 4px;

}

figcaption{

    margin-top: 15px;

    color: #333;

    font-size: 26px;

    padding: 10px;
}